html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  color: #8b1a32;
}
main {
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  background-color: #461220;
}
/*
body {
  background: rgb(16,0,43);
  background: linear-gradient(45deg, rgba(16,0,43,1) 0%, rgba(39,5,70,1) 50%, rgba(16,0,43,1) 100%);
}*/

header {
  background-color: #ce796b; /*#5A189A*/
  margin-bottom: 10px;
}

.recuadros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 1200px;
  padding: 10px;
}

section {
  width: 90%;
  height: 500px;
  background-color: #d6caca;
  border-radius: 20px;
  margin: 20px;
  border-style: solid;
  border-width: 10px;
  border-color: #ce796b;
}

.flex {
  display: flex;
  width: 90%;
  height: 100px;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.justify-content-center {
  justify-content: center;
}
.justify-row {
  justify-content: center;
  align-items: center;
}
.align-items-center {
  align-items: center;
}
a {
  text-decoration: none;
  color: inherit;
}

#login {
  width: 15%;
  height: 100%;
  align-items: end;
}
#home {
  justify-items: start;
}
#button-nav {
  justify-content: center;
}

.buttom-style {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 30px;
  margin: 5px 5px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  /*background-color: #fff;*/
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  width: 25%;
}
.buttom-style:hover {
  background-color: crimson;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.video-button:hover {
  background-color: #f7a072;
  font-size: 20px;
  box-shadow: 0px 15px 20px rgba(194, 54, 54, 0.4);
  color: #fff;
  transform: translateY(-5px);
}

.audio-button:hover {
  background-color: turquoise;
  transform: translateY(-5px);
  font-size: 20px;
  color: #fff;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

.buttom-style:active {
  transform: translateY(-1px);
}
#loadingGif {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

/* Móviles Pequeños (hasta 480px) */
@media (max-width: 600px) {
  .buttom-style {
    font-size: 12px;
    text-align: center;
    padding: 10px 20px;
    width: 70%; 
  }

  #login {
    width: 100%;
    justify-content: center; 
    align-items: center;
  }

  section {
    height: 120px;
    padding: 10px;
    border-width: 5px;
  }

  .flex {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .buttom-style:hover {
    transform: translateY(-5px);
  }

  #nav{
    visibility: hidden;
  }
  #menu{
    visibility: visible;
  }
}

/* Tablets (768px a 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .buttom-style {
    width: 30%;
    font-size: 14px;
  }

  #login {
    width: 20%;
    flex-direction: column;
  }

  section {
    height: 250px;
  }
}

/*escritorio*/
@media (min-width: 1025px) {
  .buttom-style {
    width: 20%;
    font-size: 16px;
  }

  #login {
    width: 15%;
    flex-direction: column;
  }

  section {
    height: 300px;
  }
  .column {
    flex-direction: column;
    height: 100px;
  }
}