/* variables */
:root {
  --rad: 0.5rem;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #57bd84;
  --font-family: "Nunito", sans-serif;
  --height: 5rem;
  --btn-width: 6rem;
}
.button-style {
  font-family: "Nunito",sans-serif;
  color: #000000;
  font-size: larger;
  margin-top: 1rem;
  margin-left: 1rem;
}
html,
body,
footer {
  padding: 0;
  font-family: var(--font-family);
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

img {
  height: 65px;
  width: 65px;
}
.black-text {
  color: black;
}

.start,
.center,
.end,
.flex,
.justify-between {
  display: flex;
}

.flex-col {
  flex-direction: column;
  align-items: center;
}

/*un simple container */
.container {
  width: 100%;
  padding: 0.75rem;
  margin: 0 auto;
}
.start {
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.center {
  align-items: center;
  justify-content: center;
  flex: 2;

}

.end {
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.justify-between {
  justify-content: space-between;
}

.p-1 {
  padding: var(--rad);
}

/* barra de navegación */
nav ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

/* texto de metacritics formato */
#text {
  color: #ffffff;
  padding-left: 4%;
  font-weight: 300;
  text-align: center;
}

/* formato para la search bar */
header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  display: flex;
  height: 10%;
}

/*pading y centrado*/
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

/* dondo negro */
.bg-black {
  background-color: black;
}

.register-button {
  background-color: yellow;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}


.product-list {
  width: 25%;
  padding: 20px;
  background-color: #f4f4f4;
  border-right: 1px solid #ddd;
}

.product-list table {
  width: 100%;
  border-collapse: collapse;
}

.product-list th,
.product-list td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.product-list th {
  background-color: #f2f2f2;
}

main {
  width: 75%;
  padding: 20px;  
  padding: 1rem;

}